In [1]:
import numpy as np
import pandas as pd
from sklearn import svm, metrics, tree
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC

/Users/arthurbinda/anaconda/lib/python3.6/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [2]:
df= pd.read_csv('dadosProvaOnly.csv')

In [3]:
dict = {}
for row in df['Aluno'].iteritems():
    aluno = row[1]
    aluno = int(aluno)
    dict[aluno] = pd.DataFrame(df[df['Aluno']== aluno])

In [4]:
dict[1085]

,Aluno,Lab,PP_Delete,Duracao,PP_Paste,Qntd_Linhas,Linhas_Log,Qntd_Linhas_Filtrado,Submissoes,Testes,Corretos,Incorretos,Branco,Nota
0,1085,1031,0.5300,80.00,0.0000,25.0,19.0,9.0,0.00,1.0,0,0,12,0.000000
1,1085,1083,0.1700,148.00,0.0050,12.0,186.0,5.5,2.00,6.0,2,0,8,2.000000
2,1085,1118,0.1725,956.25,0.0025,28.0,871.0,20.0,5.75,20.5,3,1,8,2.500000
3,1085,1265,0.3000,1864.00,0.0000,32.0,991.0,20.0,17.00,42.0,1,0,11,0.833333

In [5]:
dfAlunos = pd.DataFrame(columns = ['Alunos','Aprovacao'])

In [10]:
for aluno, df in dict.items():
    aprovou = df['Nota'].mean()
    if(aprovou >= 5.0):
        aprovado = 1
    else:
        aprovado = 0
    SemNota = list(df.columns.values)
    SemNota.remove('Nota')
    dfAlunos = dfAlunos.append({'Alunos':df[SemNota],'Aprovacao':aprovado},ignore_index=True)

In [14]:
dfAlunos.iloc[0]

Alunos          Aluno   Lab  PP_Delete  Duracao  PP_Paste  ...
Aprovacao                                                    0
Name: 0, dtype: object